p {
    white-space: pre-wrap;
}

div {
    height: 80vh;
}

#mainContainer {
    display: flex;
    flex-flow: row;
}


#storyContainer {
    background-color: #D3C8B4;
    flex-grow: 1;
}

#storyText {

}


/* playerInfo stuff */
#playerInfo {
    background-color: #586671;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 320px;
}


/* otherInfo stuff */
#otherInfo {
    background-color: #A86E63;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 320px;
}

#plotContainer {
    position: absolute;
    width: 320px;
    height: 320px;
    overflow: hidden;
}

img {
    position: absolute;
}

#playerIcon {
    top: 145px;
    left: 145px;
    content:url("assets/playerIcon.jpeg");
}


/* button stuff */
button {
    background-color: #968664;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 9vh;
    width: 33.3%;
}