body {
    overflow: hidden; /* stop page from scrolling */
    background: #28313A;
    /*background:url("assets/parchment.jpg");*/
    /*background-size: 100% auto;*/
}

p {
    white-space: pre-wrap; /* allow newlines in paragraphs */
}

#startContainer {
    width: 100%;
    text-align: center;
}

#startText {
    font-size: 30px;
    color: Beige;
}

#startButton {
    background-color: #303730;
    color: Beige;
    font-size: 30px;
    width: 200px;
    height: 75px;
    float: none;
}

#startButton:hover {
    opacity: 0.9;
}
